---
layout: base.njk
data: 
  - title: "hi there!"
    description: "This is a long description that has multiple words for testing stuff and things."
    url: https://11ty.dev
    image: "https://images.unsplash.com/photo-1652283321082-72bb2b601abd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80"
    svg: | 
      <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
  - title: "Woah there!"
    description: "This is a long description that has multiple words for testing stuff and things."
    url: https://11ty.dev
    image: "https://images.unsplash.com/photo-1652283321082-72bb2b601abd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80"
  - title: "Yay there!"
    description: "This is a long description that has multiple words for testing stuff and things."
    url: https://11ty.dev
    image: "https://images.unsplash.com/photo-1652283321082-72bb2b601abd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80"
alertData:
  - text: "Alert text goes here"
    color: "green"
    description: "This is a long description that has multiple words for testing stuff and things."
  - text: "Alert 2 here"
    url: "/"
announcement:
  text: "This is a long description that has multiple words for testing stuff and things."
  url: "/"
  linkText: "Read more please"
---

<h1 class="mt-4 text-2xl font-medium">HyperUI Tailwind components</h1>
<p>
  This is a collection of Tailwind CSS components that can be used in your 11ty project.
</p>

<a class="inline-block p-[2px] rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 hover:text-white active:text-opacity-75 focus:outline-none focus:ring" href="https://github.com/brob/eleventy-plugin-tailwind-components">
  <span class="block px-8 py-3 text-sm font-medium bg-white rounded-full hover:bg-transparent">
    See it in the repo
  </span>
</a>
<h2 class="mt-4 text-2xl font-medium">Announcements bars ("bottom" is sticky to the bottom)</h2>


{% tailwind "announcements" "top" announcement %}
{% tailwind "announcements" "bottom" announcement %}


<h2 class="mt-4 text-2xl font-medium">Alert bars</h2>
<h3>Simple</h3>
{% for alert in alertData %}
  {% tailwind "alerts" "simple" alert %}
{% endfor %}

<br><br>
<h2 class="mt-4 text-2xl font-medium">Promo cards</h2>
<h3>plainHover</h3>
<div class="grid grid-cols-3 gap-4">
  {% for data in data %}
    {% tailwind "card", "plainHover", data %}
  {% endfor %}
  </div>
  <br><br>

<h3>borderImage</h3>

<div class="grid grid-cols-3 gap-4">
{% for data in data %}
  {% tailwind "card", "borderImage", data %}
{% endfor %}
</div>
<br><br>

<h3>gradient</h3>

<div class="grid grid-cols-3 gap-4">
  {% for data in data %}
    {% tailwind "card", "gradient", data %}
  {% endfor %}
</div>
<br><br>
<h3>image</h3>

<div class="grid grid-cols-3 gap-4">
  {% for data in data %}
    {% tailwind "card", "image", data %}
  {% endfor %}
  </div>
