<{{#if url}}a href="{{url}}"{{else}}div{{/if}} class="block overflow-hidden rounded-2xl">
  <img class="object-cover w-full h-56" src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" />

  <div class="p-4 bg-gray-900">
    {{#if url}}<p class="text-xs text-gray-500">{{url}}</p>{{/if}}

    {{#if title}}<h5 class="text-sm text-white">{{title}}</h5>{{/if}}

    {{#if description}}<p class="mt-1 text-xs text-gray-500">{{description}}</p>{{/if}}
  </div>
</{{#if url}}a{{else}}div{{/if}}>